# `SQL` Exercises

We are going to continue down the path of querying our twitter database. 
For this exercise, much of our activities will revolve around querying the `tweet` table (in the practice we spent most of our time in the `hashtag` table). 
This time around, all of the queries will be written by you. 

**Please keep in mind** that if your query is taking a very long time, 
it is probably because you are scanning the entire database. 
You will want to put a `LIMIT` on the lowest level of your query in order for results to render quickly. 
Take for example a query configured like so

```sql
SELECT <cols>
FROM (
    SELECT <cols>
    FROM <tables>
    LIMIT <int>) AS lowest_level_table
```

The query in the parentheses will be executed first and then the query outside of it will be executed on the results of the query inside of the parentheses. 

---

Before we begin, we will establish a connection...

In [1]:
import psycopg2
import pandas as pd

try:
    connect_str = "dbname='twitter' user='dsa_ro_user' host='pgsql.dsa.lan' password='readonly'"
    # use our connection values to establish a connection
    conn = psycopg2.connect(connect_str)
except:
    print("Something went wrong...probably the wrong permissions")

We will start off with a simple query...

**Exercise 1**: Write a query that returns all of the attributes and **200** rows from the tweet table. Then execute the query by running `pd.read_sql_query()`.

In [4]:
# Code for Exercise 1 goes here
# --------------
statement = """                              
SELECT *
FROM twitter.tweet
LIMIT 200;
"""

pd.read_sql_query(statement,conn)

,tweet_id_str,job_id,created_at,text,from_user,from_user_id_str,from_user_name,from_user_fullname,from_user_created_at,from_user_followers,...,from_user_timezone,to_user,to_user_id_str,to_user_name,source,location_geo,location_geo_0,location_geo_1,iso_language,analysis_state
0,841108979963088896,273,2017-03-13 02:09:42,RT @BlackMarvelGirl: It takes 3.2 secs to retw...,729732380,729732380,andyetilienot,panic!@the discourse,2012-08-01 02:00:10,257,...,Central Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,None,None,en,0
1,841108979992403969,273,2017-03-13 02:09:42,RT @BlackMarvelGirl: It takes 3.2 secs to retw...,3087709386,3087709386,__themenace,t.,2015-03-16 03:45:14,1051,...,None,None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,None,None,en,0
2,841108980181151749,284,2017-03-13 02:09:42,Mary J. Blige - Everything\\n\\nThis has alway...,2660471575,2660471575,_misszykirah_,,2014-07-19 20:11:39,712,...,None,None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,None,None,en,0
3,841108980562817024,273,2017-03-13 02:09:42,i like black and white photos. https://t.co/bF...,24557949,24557949,savrose15,savannah,2009-03-15 17:58:07,467,...,Central Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,None,None,en,0
4,841108980713713664,209,2017-03-13 02:09:42,ãæ¾å±±åæ¥ã77æç®ã®ã·ã³ã°ã«ãç©...,2456411125,2456411125,NipponColumbia,æ¥æ¬ã³ã­ã ãã¢,2014-04-21 10:19:49,3962,...,Pacific Time (US & Canada),None,None,None,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,None,None,ja,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,841109005384765440,303,2017-03-13 02:09:48,Las madres deberÃ­an aprender el significado d...,278665808,278665808,fakdesistem,Moodyâ¿,2011-04-07 18:35:03,1951,...,Buenos Aires,None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,None,None,es,0
196,841109005783171072,258,2017-03-13 02:09:48,Confident none of this is good for my health. ...,1121591,1121591,mamund,Mike Amundsen,2007-03-13 22:38:54,9982,...,Pacific Time (US & Canada),None,None,None,"<a href=""http://bufferapp.com"" rel=""nofollow"">...",None,None,None,en,0
197,841109005837709313,221,2017-03-13 02:09:48,RT @LornajaneCosign: Large Retro 1967 Gold Ton...,4784948773,4784948773,SusieQ19622,Susie Mooney,2016-01-19 17:50:59,373,...,Pacific Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,None,None,en,0
198,841109005858680832,293,2017-03-13 02:09:48,RT @EllenburgAmanda: I want compensation for m...,1367469432,1367469432,valerie_bowers4,val,2013-04-20 16:46:41,283,...,Eastern Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,None,None,en,0
199,841109005934178305,273,2017-03-13 02:09:48,"RT @Karnythia: I try to behave on here, but so...",730933969223614464,730933969223614464,devil_nikaido,,2016-05-13 01:33:33,1,...,Pacific Time (US & Canada),None,None,None,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,None,None,en,0

The `job_id` for this table refers to which city the tweet was collected from. Since we all now have some tie to Columbia, MO, we can query for those tweets that are specifically tied to Columbia. Columbia's `job_id` is 261.

**Exercise 2**: Write and execute a query that pulls all attributes and 200 rows where the job id is 261.

In [5]:
# Code for Exercise 2 goes here
# --------------
statement = """                              
SELECT *
FROM twitter.tweet
WHERE job_id = 261
LIMIT 200;
"""

pd.read_sql_query(statement,conn)

,tweet_id_str,job_id,created_at,text,from_user,from_user_id_str,from_user_name,from_user_fullname,from_user_created_at,from_user_followers,...,from_user_timezone,to_user,to_user_id_str,to_user_name,source,location_geo,location_geo_0,location_geo_1,iso_language,analysis_state
0,842360433336016896,261,2017-03-16 13:02:32,RT @MizzouSports: Dual-sport athlete?,1306212289,1306212289,DaRon_Davis1,Da'Ron Davis1ï¸â£,2013-03-27 01:50:19,2383,...,Pacific Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
1,842360434753593344,261,2017-03-16 13:02:32,Brutal memories https://t.co/yiJXpjfPoo,32703468,32703468,DUBMCG,Steven M,2009-04-18 01:17:03,279,...,Central Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/android"" ...",None,NaN,NaN,en,0
2,842360560809320448,261,2017-03-16 13:03:02,,590231919,590231919,Oinkidy,ÐÐ¶ÐµÑÐ¾Ð± Ð£Ð¸ÑÐ¾Ð»,2012-05-25 17:03:48,91,...,None,None,None,None,"<a href=""http://twitter.com/download/android"" ...",None,NaN,NaN,und,0
3,842360586709143552,261,2017-03-16 13:03:08,Preview of the new car design for the @Speedwa...,821744031285776386,821744031285776386,TSR12s,Tony Stuart Racing,2017-01-18 15:40:19,34,...,None,None,None,None,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,NaN,NaN,en,0
4,842360598813786112,261,2017-03-16 13:03:11,What Founder and CEO @winters_jeffrey Has Lear...,3008612898,3008612898,emma_k_bentley,Emma K. Bentley,2015-02-03 02:47:04,443,...,Central Time (US & Canada),None,None,None,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,NaN,NaN,en,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,842367851558195201,261,2017-03-16 13:32:00,About time https://t.co/j5uozZfznO,711013356,711013356,j_graham17,James Graham,2012-07-22 17:37:32,281,...,Eastern Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
196,842367916301520897,261,2017-03-16 13:32:16,I can't wait to see the headlines in 5 years w...,137448439,137448439,redbonedogs,Chris Danforth,2010-04-26 19:49:45,103,...,Central Time (US & Canada),None,None,None,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,NaN,NaN,en,0
197,842367923989684224,261,2017-03-16 13:32:18,RT @shanzberg: .@JEKranzberg https://t.co/y6dE...,826295149340749824,826295149340749824,niLu62FTbDhqUkw,Bernadette Bond,2017-01-31 05:04:50,18,...,None,None,None,None,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,NaN,NaN,und,0
198,842367970982600704,261,2017-03-16 13:32:29,Trump seeks deep cuts in education and science...,2321505098,2321505098,MUGRADDEAN,Leona Rubin,2014-01-31 23:53:52,248,...,None,None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
199,842368010409148416,261,2017-03-16 13:32:38,RT @MUGRADDEAN: Trump seeks deep cuts in educa...,801767281,801767281,tpmufellowships,Tim Parshall,2012-09-04 04:01:25,313,...,Central Time (US & Canada),None,None,None,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,NaN,NaN,en,0

The database also collects the language that the tweet was written in as long as it is identifiable. This is stored in the `iso_language` column as an attribute of the `tweet`. 

**Exercise 3**: Write and execute a query that returns the distinct languages and the count of each language for 2000 rows in Columbia, MO. Keep in mind this will be a nested query and that at the lowest level you have a limit of 2000.

In [8]:
# Code for Exercise 3 goes here
# ------------
statement = """                              
SELECT DISTINCT iso_language, COUNT(*)
FROM(
    SELECT iso_language
    FROM twitter.tweet
    WHERE job_id = 261
    LIMIT 2000) AS t1
    GROUP BY iso_language
"""

pd.read_sql_query(statement,conn)

  iso_language  count
0           de      1
1           en   1875
2           es      3
3           et      1
4           fr      2
5           ht      1
6           in      2
7           sv      1
8           tl      2
9          und    112

**Exercise 4**: Now find out who tweets the most in Columbia, MO for 2000 rows of data. Arrange the data in descending order by count. User ids are stored in the `from_user` attribute.

In [10]:
# Code for Exercise 4 goes here
# ------------
statement = """                              
SELECT DISTINCT from_user, COUNT(*)
FROM(
    SELECT from_user
    FROM twitter.tweet
    WHERE job_id = 261
    LIMIT 2000) AS t1
    GROUP BY from_user
    ORDER BY COUNT DESC
"""

pd.read_sql_query(statement,conn)

       from_user  count
0       45412119     85
1      470303506     30
2       79558250     15
3      380564046     14
4     4448685252     14
...          ...    ...
1367   995651192      1
1368    99569888      1
1369    99721059      1
1370   997648219      1
1371   997767025      1

[1372 rows x 2 columns]

the column `from_user_followers` stores the number of followers the user who wrote the tweet had when that tweet was created.

**Challenge Question 1**: Write and execute a query that finds the average number of `from_user_followers` for each distinct `iso_language` from only 2000 rows of Columbia, MO tweets.

In [21]:
# Code for Challenge Question 1 goes here
# ------------
statement = """                              
SELECT DISTINCT iso_language, AVG(from_user_followers)
FROM(
    SELECT iso_language, from_user_followers
    FROM twitter.tweet
    WHERE job_id = 261
    LIMIT 2000) AS t1
    GROUP BY iso_language
    ORDER BY avg
"""

pd.read_sql_query(statement,conn)

   iso_language          avg
0            es     4.000000
1            tr   103.405941
2            fr   234.000000
3            da   235.000000
4            nl   283.000000
5            pt   340.000000
6            eu   354.000000
7            et   474.500000
8            tl   836.250000
9            pl   934.000000
10          und  1011.164706
11           en  2422.765745
12           de  3380.000000

# Save your notebook, then `File > Close and Halt`